@import "~bootstrap/scss/bootstrap";
@import "~react-perfect-scrollbar/dist/css/styles.css";

body {
  margin: 0;
}

.application-main-wrap {
  @include make-container-max-widths();
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.dynamic-carousel-row {
  flex-wrap: nowrap;
  overflow: hidden;
}
