@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
}

.application-main-wrap {
  @include make-container-max-widths();
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.top-channels-carousel {
  display: flex;
  min-height: 400px;

  .carousel {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, .5);

  }
}
